@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans KR', serif;
  --background: #ffffff;
  --foreground: #171717;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
